/*HEADER*/

#header {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/img/0-head.webp');
  background-color: #000;
  background-size: cover;
  background-position: 18% 18%;
  opacity: 1;
  z-index: -1;
  color: #fff;
}

.head-bg {
  box-sizing: border-box;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3% 3%;
}

/* ------- Header Top ------- */
.headTop {
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  text-transform: uppercase;
  overflow: visible;
}
.slogan {
  font-weight: 700;
  font-family: 'D-DIN Bold';
  margin: 0;
}

/* ------- Header Middle Text ------- */
.headText {
  box-sizing: border-box;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headText h1 {
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 7rem;
  margin: 0px;
}

.headText h2 {
  font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 3rem;
  margin-top: 3%;
}

.knowMe {
  width:fit-content;
  font-size: 1.8rem;
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  background-color: #A5241F;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
}

.knowMe:hover {
  background-color: #94221e;
}

/* ------- Header Bottom ------- */
.headBottom {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.5rem;
  padding: 0;
}

.socialButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.socialButtons a {
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  font-size: 3.5rem;
}

.socialButtons img, .socialButtons i {
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: #fff;
  fill: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.headBottom a:hover {
  transform: scale(1.1);
}

.codePortfolio a {
  margin-top: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
  font-family: 'Consolas', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 780px) {

  #header {
    background-position: 50% 50%;
  }

  .head-bg {
    padding: 6% 8%;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .headText h1 {
    font-size: 4rem;
  }

  .headText h2 {
    font-size: 2rem;
  }

  .knowMe {
    font-size: 1.5rem;
  }

  .headBottom {
    bottom: 1rem;
    right: 1rem;
  }

  .socialButtons{
    justify-content: center;
    gap: 0.5rem;
  }

  .socialButtons a {
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
  }

  .codePortfolio a {
    font-size: 1.1rem;
  }
}