/*Methodology*/

#methodology {
  position: relative;
  padding: 3% 4%;
  overflow: hidden;
  background-color: fff;

  /* Background */
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='200' height='140' xmlns='http://www.w3.org/2000/svg'%3E %3Crect width='190' height='50' x='0' y='0' rx='30' ry='30' style='fill:%23000000%3B opacity: 0.01%3B' /%3E %3Crect width='190' height='50' x='100' y='70' rx='30' ry='30' style='fill:%23000000%3B opacity: 0.01%3B' /%3E %3Crect width='190' height='50' x='-100' y='70' rx='30' ry='30' style='fill:%23000000%3B opacity: 0.01%3B' /%3E %3C/svg%3E");
  /* SVG encoded with https://cdpn.io/rrOZQQ */
  background-repeat: repeat;
  animation: animatedBackground 70s linear infinite;
}

#methodology h3 {
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0px;
  color: #3b3d3c;
}

.methodology-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.methodology-item {
  box-sizing: border-box;
  width: 32%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.methodology-item h4, .methodology-item p {
  box-sizing: border-box;
  color: #fff;
  background-color: #3b3d3c;
  padding: 1% 4%;
  border-radius: 100px;
  font-weight: bold;
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.methodology-item h4 {
  padding: 1% 7%;
}

.methodology-item.action h4 {
  padding: 1% 20%;
}

.methodology-item.inspiration h4, .methodology-item.inspiration p {
  background-color: #f6c646;
}

.methodology-item.education h4, .methodology-item.education p {
  background-color: #308ac9;
}

.methodology-item.action h4, .methodology-item.action p {
  background-color: #a5241f;
}

.methodology-item h4{
  font-size: 3rem;
  margin: 3%;
  animation: moveTitles 3s infinite alternate ease-in-out;
}

.methodology-item.inspiration h4 {
  animation-delay: 1.2s;
}

.methodology-item.education h4 {
  animation-delay: 2.5s;
}

.methodology-item.action h4 {
  animation-delay: 3.7s;
}

.methodology-item p {
  margin: -1% 0;
  position: relative;
}

.centerValue {
  align-self: center;
}

.leftValue {
  align-self: flex-start;
}

.rightValue {
  align-self: flex-end;
}

/* ---------- Cápsulas amarillas ----------*/
.methodology-item.inspiration p:nth-of-type(1){
  padding: 1% 2.7rem;
  animation-delay: 0.3s;
  top: 20px;
  left: 5%;
}
.methodology-item.inspiration p:nth-of-type(2){
  padding: 1% 1.9rem;
  animation-delay: 0s;
  top: 35px;
  left: 3%;
}
.methodology-item.inspiration p:nth-of-type(3){
  padding: 1% 1.5rem;
  animation-delay: 1.2s;
  right: 1%
}
.methodology-item.inspiration p:nth-of-type(4){
  padding: 1% 3.3rem;
  animation-delay: 1.8s;
  right: 18%;
}
.methodology-item.inspiration p:nth-of-type(5){
  padding: 1% 2.8rem;
  animation-delay: 1s;
  right: 4%;
}
.methodology-item.inspiration p:nth-of-type(6){
  padding: 1% 1.3rem;
  animation-delay: 0.5s;
  bottom: 20px;
  left: 2%;
}

/* ---------- Cápsulas azules ----------*/
.methodology-item.education p:nth-of-type(1){
  padding: 1% 0.9rem;
  animation-delay: 0.8s;
  top: 10px;
  left: 7%;
}
.methodology-item.education p:nth-of-type(2){
  padding: 1% 2.1rem;
  animation-delay: 0.8s;
  top: 25px;
  left: 2%;
}
.methodology-item.education p:nth-of-type(3){
  padding: 1% 1.7rem;
  animation-delay: 0.5s;
  right: 2%;
}
.methodology-item.education p:nth-of-type(4){
  padding: 1% 1.7rem;
  animation-delay: 2s;
  right: 4%;
}
.methodology-item.education p:nth-of-type(5){
  padding: 1% 1.3rem;
  animation-delay: 0.2s;
  bottom: 15px;
  left: 3%;
}
.methodology-item.education p:nth-of-type(6){
  padding: 1% 0.9rem;
  animation-delay: 1.2s;
  bottom: 0px;
  left: 10%;
}

/* ---------- Cápsulas rojas ----------*/
.methodology-item.action p:nth-of-type(1){
  padding: 1% 2.6rem;
  animation-delay: 1.5s;
  top: 5px;
  right: 25%;
}
.methodology-item.action p:nth-of-type(2){
  padding: 1% 0.8rem;
  animation-delay: 1.7s;
  bottom: 15px;
  right: 2%;
}
.methodology-item.action p:nth-of-type(3){
  padding: 1% 0.7rem;
  animation-delay: 1.3;
  left: 1%;
}
.methodology-item.action p:nth-of-type(4){
  padding: 1% 2.1rem;
  animation-delay: 0.5s;
  left: 2%;
}
.methodology-item.action p:nth-of-type(5){
  padding: 1% 2.5rem;
  animation-delay: 1.7s;
  right: 6%;
  bottom: 20px;
}
.methodology-item.action p:nth-of-type(6){
  padding: 1% 0.8rem;
  animation-delay: 1.4s;
  right: 20%;
  bottom: 8px;
}

.methodology-item p:nth-of-type(odd) {
  animation: move 2s infinite alternate ease-in-out;
}

.methodology-item p:nth-of-type(even) {
  animation: move 2.5s infinite alternate ease-in-out;
}

@media (min-width: 2000px) {
  .methodology-item h4 {
    font-size: 4rem;
  }

  .methodology-item p {
    font-size: 3rem;
  }
}

@media (max-width: 1440px) {
  .methodology-item p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1220px) {
  .methodology-item p {
    font-size: 1.3rem;
  }

  .methodology-item h4 {
    font-size: 2.5rem;
  }

  .methodology-item.inspiration p:nth-of-type(1){
    top: 15px;
  }

  .methodology-item.inspiration p:nth-of-type(2){
    top: 30px;
  }

  .methodology-item.inspiration p:nth-of-type(5){
    top: 10px;
  }

  .methodology-item.inspiration p:nth-of-type(6){
    bottom: 10px;
  }

  .methodology-item.action p:nth-of-type(2){
    bottom: 5px;
  }
}

@media (max-width: 1130px) {
  .methodology-item h4 {
    font-size: 2.3rem;
  }

  .methodology-item p {
    font-size: 1.1rem;
  }

  .methodology-item.inspiration p:nth-of-type(1){
    top: 5px;
  }

  .methodology-item.inspiration p:nth-of-type(2){
    top: 20px;
  }

  .methodology-item.inspiration p:nth-of-type(4){
    padding: 1% 2.5rem;
  }

  .methodology-item.inspiration p:nth-of-type(5){
    top: 5px;
    padding: 1% 2.3rem;
  }

  .methodology-item.inspiration p:nth-of-type(6){
    bottom: 10px;
  }

  .methodology-item.education p:nth-of-type(1){
    top: 5px;
  }

  .methodology-item.education p:nth-of-type(2){
    top: 15px;
  }

  .methodology-item.action p:nth-of-type(4){
    padding: 1% 1.8rem;
  }
  
  .methodology-item.action p:nth-of-type(5){
    padding: 1% 2rem;
    right: 5%;
    bottom: 15px;
  }
}

@media (max-width: 980px) {
  .methodology-container {
    justify-content: space-around;
  }

  .methodology-item {
    width: 48%;
  }

  .methodology-item.action {
    margin-top: 3%;
  }

  .methodology-item h4 {
    font-size: 2rem;
  }
}

@media (max-width: 790px) {
  #methodology h3 {
    font-size: 7.5vw;
  }

  .methodology-item.education p:nth-of-type(2){
    padding: 1% 1.9rem;
  }

  .methodology-item.education p:nth-of-type(4){
    padding: 1% 1.5rem;
  }

  .methodology-item.education p:nth-of-type(5){
    bottom: 10px;
  }
}

@media (max-width: 640px) {
  .methodology-container {
    flex-direction: column;
    align-items: center;
  }

  .methodology-item {
    width: 80%;
  }

  .methodology-item.education, .methodology-item.action {
    margin-top: 5%;
  }
}

@media (max-width: 380px) {
  .methodology-item {
    width: 95%;
  }
}

@media (max-width: 350px) {
  .methodology-item {
    width: 100%;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes moveTitles {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}