/*EXPERIENCES*/

#contact {
    box-sizing: border-box;
    position: relative;
    padding: 4% 5%;
    /* overflow: hidden; */
    background-color: #000000;

    /* Background */
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='600' height='140' xmlns='http://www.w3.org/2000/svg'%3E %3Crect width='600' height='140' x='0' y='0' style='fill:%23000%3B' /%3E %3Crect width='190' height='50' x='0' y='0' rx='30' ry='30' style='fill:%23f6c646%3B opacity: 0.1%3B' /%3E %3Crect width='190' height='50' x='200' y='0' rx='30' ry='30' style='fill:%23308ac9%3B opacity: 0.1%3B' /%3E %3Crect width='190' height='50' x='400' y='0' rx='30' ry='30' style='fill:%23a5241f%3B opacity: 0.1%3B' /%3E %3Crect width='190' height='50' x='-100' y='70' rx='30' ry='30' style='fill:%23308ac9%3B opacity: 0.1%3B' /%3E %3Crect width='190' height='50' x='100' y='70' rx='30' ry='30' style='fill:%23a5241f%3B opacity: 0.1%3B' /%3E %3Crect width='190' height='50' x='300' y='70' rx='30' ry='30' style='fill:%23f6c646%3B opacity: 0.1%3B' /%3E %3Crect width='190' height='50' x='500' y='70' rx='30' ry='30' style='fill:%23308ac9%3B opacity: 0.1%3B' /%3E %3C/svg%3E");
    /* SVG encoded with https://cdpn.io/rrOZQQ */
    background-repeat: repeat;
    animation: animatedBackground 70s linear infinite;
}

#contact h3 {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 2%;
    color: #ffffff;
    margin-bottom: 5%;
}

#contact label {
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 0.5%;
    color: #ffffff;
}

.contactFormContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formLeft {
    width: 60%;
    margin-right: 5%;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputLeft {
    width: 48%;
    margin-right: 2%;
}


#contact input,
textarea {
    box-sizing: border-box;
    min-width: 100%;
    padding: 1.5% 3%;
    margin: 1% 0;
    background-color: #ffffff;
    color: #000000;
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    border-radius: 100vw;
    resize: none;
    overflow: hidden;
}

#contact input:focus,
textarea:focus, button:focus {
    outline: none;
}

#contact textarea {
    height: 130px;
    padding: 1.5% 2%;
    border-radius: 10px;
}

.error {
    color: #f6c646;
    font-size: 1rem;
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-weight: normal;
    margin: 0 0 2%;
    width: fit-content;
    border-radius: 100vw;
}

.submitButton {
    box-sizing: border-box;
    width: 30%;
    padding: 1.5% 2%;
    background-color: #308ac9;
    color: #ffffff;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 100vw;
    cursor: pointer;
    align-items: end;
    margin: 2% 0;
}

.submitButton:hover {
    background-color: #3382ba;
}

.submitButton:disabled {
    background-color: #3b3d3cdc;
    background-color: #3089c983;
    cursor: not-allowed;
}

.formImage {
    width: 35%;
    border-radius: 20px;
    object-fit: cover;
}

.modalTitle {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 2%;
    color: #000000;
}

.modalConfirmation {
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 2%;
    color: #000000;
}

.contactButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contactButtons a {
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    margin-top: 2%;
    margin-right: 2%;
}

.contactButtons img,
.contactButtons i {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: #fff;
    fill: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}



@media (max-width: 1024px) {

    #experiences h3 {
        font-size: 7.5vw;
        line-height: 120%;
    }
}

@media (max-width: 768px) {}