/*EXPERIENCES*/

#experiences {
    box-sizing: border-box;
    position: relative;
    padding: 4% 5%;
    overflow: hidden;
    background-color: #000000;

    /* Background */
}

#experiences h3 {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 2%;
    color: #ffffff;
    margin-bottom: 5%;
}

.experiencesCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
}

.expCardContainer {
    position: relative;
    width: 100%;
    padding-bottom: 60%; /* 16:9 */
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expCardContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expText {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 80%, rgba(0,212,255,0) 100%);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.expCardContainer:hover .expText {
    opacity: 1;
    transition: opacity 0.5s;
}


@media (max-width: 1024px) {
    .experiencesCards {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .experiencesCards {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
}