/*EXPERIENCES*/

#experiences {
    position: relative;
    padding: 4% 5%;
    overflow: hidden;
    color:#E9E9E9
}

#experiences::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/5-testimonials.png');
    background-size: 100%;
    background-position: 53% 55%;
    opacity: 1; /* Ajusta la opacidad según tus preferencias */
    z-index: -1;
}

.experiencesCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top:25px;
}

.experiencesCards div{
    flex: 1;
    min-width: 25%;
    max-width: 30%;
    margin: 5px;
    text-align: center;
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size:1.4rem;
    line-height: 1.5;
    padding:50px 20px;
    border: #E9E9E9 3px solid;
    border-radius: 5px;
    transition: filter 0.25s ease-out 100ms;
    align-items: center;
}

.experiencesCards div{
    position: relative;
    text-shadow: 0px 0px 10px black;
}

.experiencesCards div::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    filter:brightness(0.5);
    z-index: -1;
}
.experiencesCards div:hover{
    filter:brightness(1.5);
}

.experiencesCards div:nth-child(1)::before {
    background-image: url('assets/img/6-exp1.jpg');
    background-size: 150%;
    background-position: 18% 40%;
}

.experiencesCards div:nth-child(2)::before {
    background-image: url('assets/img/6-exp2.jpg');
    background-size: 125%;
    background-position: 18% 50%;
}

.experiencesCards div:nth-child(3)::before {
    background-image: url('assets/img/6-exp3.jpg');
    background-size: 100%;
    background-position: 65% 40%;
}

.experiencesCards div:nth-child(4)::before {
    background-image: url('assets/img/6-exp4.jpg');
    background-size: 125%;
    background-position: 30% 20%;
}

.experiencesCards div:nth-child(5)::before {
    background-image: url('assets/img/6-exp5.jpg');
    background-size: 105%;
    background-position: 40% 20%;
}

.experiencesCards div:nth-child(6)::before {
    background-image: url('assets/img/6-exp6.jpg');
    background-size: 105%;
    background-position: 40% 20%;
}

.experiencesCards div:nth-child(7)::before {
    background-image: url('assets/img/6-exp7.jpg');
    background-size: 125%;
    background-position: 30% 45%;
}

.experiencesCards div:nth-child(8)::before {
    background-image: url('assets/img/6-exp8.jpg');
    background-size: 100%;
    background-position: 40% 20%;
}

.experiencesCards div:nth-child(9)::before {
    background-image: url('assets/img/6-exp9.jpg');
    background-size: 105%;
    background-position: 40% 70%;
}