/*HEADER*/

#header {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/img/0-head.webp');
  background-color: #000;
  background-size: cover;
  background-position: 18% 18%;
  opacity: 1;
  z-index: -1;
  color: #fff;
}

.head-bg {
  box-sizing: border-box;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3% 3%;
}

/* ------- Header Top ------- */
.headTop {
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  text-transform: uppercase;
}
.slogan {
  font-weight: 700;
  font-family: 'D-DIN Bold';
  margin: 0;
}

.language {
  align-items: right;
  justify-content: flex-end;
}

.language span{
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.language img {
  width: 2rem;
}

.current-language {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.current-language i {
  font-size: 1rem;
  rotate: 90deg;
  transition: rotate 0.3s ease;
}

.current-language i.visible {
  rotate: 0deg;
}

.language-options {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  transition: opacity 0.8s ease, transform 0.3s ease;
}

.language-options.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  cursor: pointer;
}

.language-options:not(.visible) {
  transition: opacity 0.4s ease, transform 1s ease, visibility 0s linear 0.3s;
  cursor: default;
}

.language-option {
  display: flex;
  align-items: center;
}

/* ------- Header Middle Text ------- */
.headText {
  box-sizing: border-box;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headText h1 {
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 7rem;
  margin: 0px;
}

.headText h2 {
  font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 3rem;
  margin-top: 3%;
}

.knowMe {
  width:fit-content;
  font-size: 1.8rem;
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  background-color: #A5241F;
  color: #fff;
  padding: 2% 4%;
  border: none;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
}

.knowMe:hover {
  background-color: #94221e;
}

/* ------- Header Bottom ------- */
.headBottom {
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  font-size: 1.5rem;
  padding: 1% 0;
}

@media (max-width: 780px) {

  #header {
    background-position: 50% 50%;
  }

  .head-bg {
    padding: 6% 8%;
  }

  .headText {
    padding-left: 4%;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .headText h1 {
    font-size: 4rem;
  }

  .headText h2 {
    font-size: 2rem;
  }

  .knowMe {
    font-size: 1.5rem;
  }
}