/*Methodology*/

#methodology {
  position: relative;
  padding: 3% 4%;
  overflow: hidden;
  background-color: fff;

  /* Background */
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='210' height='140' xmlns='http://www.w3.org/2000/svg'%3E %3Crect width='190' height='50' x='0' y='0' rx='30' ry='30' style='fill:%23FCFCFC%3B' /%3E %3Crect width='190' height='50' x='100' y='70' rx='30' ry='30' style='fill:%23FCFCFC%3B' /%3E %3Crect width='190' height='50' x='-100' y='70' rx='30' ry='30' style='fill:%23FCFCFC%3B' /%3E %3C/svg%3E");
  /* SVG encoded with https://cdpn.io/rrOZQQ */
  background-repeat: repeat;
  background-attachment: fixed;
  animation: animatedBackground 70s linear infinite;
}

#methodology h3 {
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0px;
  color: #3b3d3c;
}

.methodology-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.methodology-item {
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.methodology-item h4, .methodology-item p {
  color: #fff;
  background-color: #3b3d3c;
  padding: 1% 4%;
  border-radius: 100px;
  font-weight: bold;
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.methodology-item h4 {
  padding: 1% 7%;
}

.methodology-item.action h4 {
  padding: 1% 20%;
}

.methodology-item.inspiration h4, .methodology-item.inspiration p {
  background-color: #f6c646;
}

.methodology-item.education h4, .methodology-item.education p {
  background-color: #308ac9;
}

.methodology-item.action h4, .methodology-item.action p {
  background-color: #a5241f;
}

.methodology-item h4{
  font-size: 3rem;
  margin: 3%;
  animation: moveTitles 5s infinite alternate ease-in-out;
}

.methodology-item.inspiration h4 {
  animation-delay: 1.2s;
}

.methodology-item.education h4 {
  animation-delay: 2.5s;
}

.methodology-item.action h4 {
  animation-delay: 3.7s;
}

.methodology-item p {
  margin: 0%;
  position: relative;
}

.methodology-item p:nth-child(odd) {
  animation: move 2s infinite alternate ease-in-out;
}

.methodology-item p:nth-child(even) {
  animation: move 2.5s infinite alternate ease-in-out;
}

/* ---------- CÁPSULAS IZQUIERDA ---------- */
.methodology-item.inspiration p:nth-child(1) {
  top: 10px;
  left: 20px;
  padding: 1% 2.1rem;
  animation-delay: 1.2s;
}
.methodology-item.inspiration p:nth-child(2) {
  top: 25px;
  right: 80px;
  padding: 1% 1.2rem;
}
.methodology-item.inspiration p:nth-child(3) {
  top: -3px;
  left: 80px;
  padding: 1% 1.1rem;
}
.methodology-item.inspiration p:nth-child(5) {
  right: 60px;
  padding: 1% 3rem;
}
.methodology-item.inspiration p:nth-child(6) {
  top: 5px;
  left: 90px;
  padding: 1% 2.5rem;
}
.methodology-item.inspiration p:nth-child(7) {
  top: -10px;
  right: 80px;
  padding: 1% 1.5rem;
  animation-delay: 1.3s;
}

/* ---------- CÁPSULAS CENTRO ---------- */
.methodology-item.education p:nth-child(1) {
  top: 10px;
  left: 15px;
  padding: 1% 1.2rem;
  animation-delay: 2.5s;
}
.methodology-item.education p:nth-child(2) {
  top: 25px;
  right: 75px;
  padding: 1% 2rem;
  animation-delay: 0.3s;
}
.methodology-item.education p:nth-child(3) {
  top: -3px;
  left: 90px;
  padding: 1% 1.2rem;
  animation-delay: 0.8s;
}
.methodology-item.education p:nth-child(5) {
  left: 80px;
  padding: 1% 1.8rem;
}
.methodology-item.education p:nth-child(6) {
  top: -15px;
  right: 90px;
  padding: 1% 1.5rem;
  animation-delay: 1.5s;
}
.methodology-item.education p:nth-child(7) {
  top: -5px;
  left: 60px;
  padding: 1% 1.3rem;
  animation-delay: 1.9s;
}

/* ---------- CÁPSULAS DERECHA ---------- */
.methodology-item.action p:nth-child(1) {
  top: 10px;
  right: 100px;
  padding: 1% 2.5rem;
  animation-delay: 0.7s;
}
.methodology-item.action p:nth-child(2) {
  top: -17px;
  left: 80px;
  padding: 1% 1.2rem;
  animation-delay: 1.5s;
}
.methodology-item.action p:nth-child(3) {
  top: -5px;
  right: 10px;
  padding: 1% 1.1rem;
  animation-delay: 0s;
}
.methodology-item.action p:nth-child(5) {
  right: 80px;
  padding: 1% 2.2rem;
  animation-delay: 1.3s;
}
.methodology-item.action p:nth-child(6) {
  top: -15px;
  left: 95px;
  padding: 1% 2.4rem;
  animation-delay: 1.0s;
}
.methodology-item.action p:nth-child(7) {
  top: -20px;
  right: 80px;
  padding: 1% 5%;
  animation-delay: 0.5s;
}

@media (max-width: 1065px) {
  .methodology-item.inspiration p:nth-child(6) {
    left: 73px;
    padding: 1% 1.8rem;
  }
  .methodology-item.inspiration p:nth-child(7) {
    top: -15px;
    right: 80px;
    padding: 1% 1.2rem;
  }
  .methodology-item.methodology-item.education p:nth-child(2) {
    right: 70px;
    padding: 1% 1.5rem;
  }
  .methodology-item.methodology-item.education p:nth-child(5) {
    padding: 1% 1.3rem;
  }
  .methodology-item.methodology-item.education p:nth-child(6) {
    right: 80px;
    padding: 1% 1.2rem;
  }
  .methodology-item.methodology-item.action p:nth-child(1) {
    right: 90px;
    padding: 1% 1.8rem;
  }
  .methodology-item.methodology-item.action p:nth-child(2) {
    left: 77px;
    padding: 1% 0.9rem;
  }
  .methodology-item.methodology-item.action p:nth-child(5) {
    right: 68px;
    padding: 1% 1.6rem;
  }
  .methodology-item.methodology-item.action p:nth-child(6) {
    top: -15px;
    left: 90px;
    padding: 1% 1.6rem;
  }
  .methodology-item.methodology-item.action p:nth-child(7) {
    top: -15px;
    right: 60px;
    padding: 1% 0.7rem;
  }
}

@media (max-width: 960px) {
  .methodology-container {
    justify-content: space-around;
  }

  .methodology-item {
    width: 45%;
  }
}

@media (max-width: 790px) {
  #methodology h3 {
    font-size: 7.5vw;
  }
}

@media (max-width: 740px) { /* Solo estilos de las cápsulas */
  .methodology-item.inspiration p:nth-child(3) {
    left: 70px;
    padding: 1% 1rem;
  }
  .methodology-item.inspiration p:nth-child(6) {
    left: 75px;
  }
  .methodology-item.inspiration p:nth-child(7) {
    top: -15px;
    right: 75px;
    padding: 1% 1rem;
  }
  .methodology-item.methodology-item.education p:nth-child(3) {
    left: 85px;
    padding: 1% 1.1rem;
  }
  .methodology-item.methodology-item.education p:nth-child(6) {
    top: -15px;
    right: 75px;
    padding: 1% 1rem;
  }
  .methodology-item.methodology-item.action p:nth-child(1) {
    right: 85px;
    padding: 1% 1.5rem;
  }
  .methodology-item.methodology-item.action p:nth-child(2) {
    left: 73px;
  }
  .methodology-item.methodology-item.action p:nth-child(5) {
    right: 73px;
    padding: 1% 1.9rem;
  }
  .methodology-item.methodology-item.action p:nth-child(6) {
    top: -20px;
    left: 85px;
    padding: 1% 1.7rem;
  }
  .methodology-item.methodology-item.action p:nth-child(7) {
    top: -10px;
    right: 50px;
    padding: 1% 1rem;
  }
}

@media (max-width: 640px) {
  .methodology-container {
    flex-direction: column;
    align-items: center;
  }

  .methodology-item {
    width: 80%;
  }

  .methodology-item.education, .methodology-item.action {
    margin-top: 3%;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes moveTitles {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}