/*Methodology*/

#methodology {
  position: relative;
  padding: 3% 4%;
  overflow: hidden;
  background-color: fff;

  /* Background */
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='210' height='140' xmlns='http://www.w3.org/2000/svg'%3E %3Crect width='190' height='50' x='0' y='0' rx='30' ry='30' style='fill:%23FCFCFC%3B' /%3E %3Crect width='190' height='50' x='100' y='70' rx='30' ry='30' style='fill:%23FCFCFC%3B' /%3E %3Crect width='190' height='50' x='-100' y='70' rx='30' ry='30' style='fill:%23FCFCFC%3B' /%3E %3C/svg%3E");
  /* SVG encoded with https://cdpn.io/rrOZQQ */
  background-repeat: repeat;
  background-attachment: fixed;
  animation: animatedBackground 70s linear infinite;
}

#methodology h3 {
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0px;
  color: #3b3d3c;
}

.methodology-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.methodology-item {
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.methodology-item h4, .methodology-container p {
  color: #fff;
  background-color: #3b3d3c;
  padding: 1% 4%;
  border-radius: 100px;
  font-weight: bold;
  font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
  text-transform: uppercase;
}

.methodology-item.inspiration h4, .methodology-item.inspiration p {
  background-color: #f6c646;
}

.methodology-item.education h4, .methodology-item.education p {
  background-color: #308ac9;
}

.methodology-item.action h4, .methodology-item.action p {
  background-color: #a5241f;
}

.methodology-item h4{
  font-size: 3rem;
  margin: 3%;
}

.methodology-item p {
  margin: 2%;
}

@media (max-width: 1400px) {

}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}